body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.monster {
    width: 50%;
    background: url("Cookie_Monster_Pointing_Right_Backat.jpg") no-repeat; 
    background-size: 100% auto;
}

@media (max-width:1000px) {
    .monster {width: 75%;
    }
}

.monster svg {
    mix-blend-mode: multiply;
}

.classic {
            fill: blue;
        }
